
.navbar {
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
  }

  .navbar a {

      font-size: 16px;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;

  }


  .dropbtn {

    background-color: #333;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 210px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.navbar a:hover,.dropdown:hover .dropbtn {background-color: #3e8e41;
  color:white;
text-decoration: none;}


#test,#new,#regis{
  background-color: lightgray;
  padding :30px;
  border-radius: 10px;


}


body
{
  background: url("img/backim.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
}


.row
{
  text-align: justify;
}


#submitButton
{
  font-size:16px;
  color:white;
  background-color:#3e8e41;
  border:2px solid #336600;
  padding:3px;
}
.footer {
  position: fixed;

   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #333;
   color: white;
   text-align: center;
   font-size: 16px;
   padding-top:  10px;
}



.fa-facebook {
  background: #3B5998;
  color: white;
  width:25px;
  height: 25px;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
  width:25px;
  height: 25px;
}

#cont
{
  border-radius: 10px;
  margin-left: 30px;
  background-color: lightgray;
}
